* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background-color: #e3f2fd;
}

nav {
	padding: 20px;
}

#n, #n1, #n2, #n3 {
	color: white
}

#cabeçalho {
	background-image: url('./anexos/imagens/viana.jpeg');
}

#titulopag {
	color: black;
	font-style: italic
}

#fim {
	background-color: black;
	color: white
}

#um, #dois {
	padding: 20px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: deepskyblue;
}

#tres {
	padding: 20px;
}

.center {
	text-align: center;
}

.card {
	margin: 0 auto;
	float: none;
	margin-bottom: 10px;
}

.btn {
	background-color: deepskyblue;
	border-color: steelblue;
	color: white
}


