* {}

.center {
  text-align: center;
}



.card {
	margin: 0 auto;
	float: none;
	margin-bottom: 10px;
}

#um, #dois {
	padding: 5vh;
	border-bottom-width:thin;
	border-bottom-style: solid;
	border-bottom-color: deepskyblue
}

.btn {
	background-color: deepskyblue;
	border-color:steelblue;
	color: white
}

#tres {
	padding: 5vh;

}




